@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    .arrow-1 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
    
    .cat-face {
        display: block;
        position: relative;
        width: 10em;
        left: 0%;
    }
    
     .arrow-2 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: #3a3a3a;
}

.arrow-1 {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 10em;
   -webkit-animation: arrow-1-rotate 3s ease-in-out infinite alternate;
    animation: arrow-1-rotate 3s ease-in-out infinite alternate;
}

@-webkit-keyframes arrow-1-rotate {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateX(-100px); }
    50% { -webkit-transform: translateY(-60px); }   
}

@keyframes arrow-1-rotate {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateX(-100px); }
    50% { -webkit-transform: translateY(-60px); }   
}

.cat-face {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50em;
    -webkit-animation: cat-face-rotate 10s ease-in-out infinite alternate;
    animation: cat-face-rotate 10s ease-in-out infinite alternate;
}

@-webkit-keyframes cat-face-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }   
}

@keyframes cat-face-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }   
}

.arrow-2 {
    position: absolute;
    top: 45%;
    left: 75%;
    width: 10em;
    -webkit-animation: arrow-2-rotate 3s ease-in-out infinite alternate;
    animation: arrow-2-rotate 3s ease-in-out infinite alternate;
}

@-webkit-keyframes arrow-2-rotate {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateX(-100px); }
    50% { -webkit-transform: translateY(-60px); }  
}

@keyframes arrow-2-rotate {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateX(-100px); }
    50% { -webkit-transform: translateY(-60px); }  
}

.title {
    text-align: center;
    color: #fff;
    margin: 1em;
    transition: all 1000ms linear;
}

.title:hover {
    background-color: #fff;
    color: #3a3a3a;
}

.gutter {
    padding-left: 1em;
    padding-right: 1em;
}

@media only screen and (min-width: 25em) {
    
    .arrow-1 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
    
    .cat-face {
        display: block;
        position: relative;
        width: 10em;
        left: -85%;
    }
    
     .arrow-2 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
}


@media only screen and (min-width: 38em) {
    
    .arrow-1 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
    
    .cat-face {
        display: block;
        position: relative;
        width: 10em;
        left: 40%;
    }
    
     .arrow-2 {
        display: block;
        position: relative;
        width: 10em;
        top: 40%;
        left: 40%;
    }
    
    .title {
        display: block;
        position: relative;
        text-align: center;
    }
} 